@model DatabaseConnectivityExample.Models.Reg
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <table>
                <tr><th>Enter Email ID</th><td>@Html.TextBoxFor(a => a.Email)</td></tr>
                <tr><th>Enter Password</th><td>@Html.TextBoxFor(a => a.Pass)</td></tr>
                <tr><th>Enter Mobileno</th><td>@Html.TextBoxFor(a => a.Mobile)</td></tr>
                <tr><td colspan="2"><input type="submit" name="btnsubmit" value="Register" /> </td></tr>


            </table>



        }
        @ViewBag.data
</body>
</html>
